* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.content-container {
	width: 55%;
	margin: 0 auto;
	padding: 1em;

}

header {
	height: 755px;
	background-color: #cdcdcd;
	background-image: url('img/background.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
}

nav {
	padding-top: 6em;
}

.logo {
	float: left;
	margin-left: -80px;
	vertical-align: middle;
	width: 60px;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav li {
	display: inline-block;
	padding: 1em;
	list-style: none;
}

.featured-location-container article {
	border-top: 3px #fff solid;

}