//######### COLOURS
$white: #fff;
$light-grey: #f7f7f7;
$medium-grey: #D5D8DC;
$dark-grey: #566573;
$dark-blue: #173C66;
$bright-blue: #3B9CD6;

$primary-color: $dark-blue;
$secondary-color: $light-grey;
$highlight-color: $bright-blue;
$background-color: $light-grey;
$text-color: $dark-grey;
$border-color: $medium-grey;

$link-color: $light-grey;
$link-hover-color: #d92562;
$link-visited-color: purple;

//######### FONTS
$base-font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size: 100%;
$base-font-weight: 300;
$line-height: 1.5;
$vertical-measure: 1.5;

$heading-font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-weight: 600;